#c {
	border: 1px solid #000000;
    position: absolute;
    width: 98%;
    z-index: -1;
}
#button-cube {
    position: absolute;
    top:300px;
}
#input-cube {
    position: absolute;
    color:red;
    width : 20px;
    left : 10px;
}